body {
  background-color: tomato;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteBox {
  width: 80%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
  padding: 1.5rem;
}

.fa-quote-left {
  font-size: 30px;
}

.quote {
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
}

.author {
  text-align: right;
  font: italic 1.5rem 'Kanit', sans-serif;
}

.btn {
  margin-top: 20px;
}

.get-quote,
.tweet {
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 1px black;
  margin-right: 30px;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
  outline: none;
}

.tweet {
  background-color: #08a0e9;
  color: white;
}

.get-quote {
  background-color: black;
  color: wheat;
}

.get-quote:hover,
.tweet:hover {
  position: relative;
  top: 1px;
  opacity: 0.8;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: black;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Prompt, sans-serif;
  color: white;
}

@media (min-width: 768px) {
  .quoteBox {
    width: 768px;
  }

  .quote,
  .author {
    font-size: 30px;
  }
}
